build/** linguist-generated=true
dist/** linguist-generated=true
*.zip linguist-generated=true
*.exe linguist-generated=true
*.pyc linguist-generated=true
*.pyz linguist-generated=true
*.toc linguist-generated=true
*.pkg linguist-generated=true
*.zip filter=lfs diff=lfs merge=lfs -text
